.pagination-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.pageBtn {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    cursor: pointer;
    margin-right: 1rem;
    text-align: center;
    line-height: 2;
    border-radius: var(--border-rd3);
    color: var(--color-white);
    background-color: var(--color-bg-pagination);

    &:hover, &.active {
        color: var(--color-white);
        background-color: var(--color-green);
    }
}