.bestSellers {
    margin-top: 7.5rem;
    .bestSellers-container {
        height: 33.2rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        background-color: var(--color-white);
        ul {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            overflow-y: hidden;
            overflow-x: scroll;
            li {
                width: 23.4rem;
                margin: 0 5rem;
                transition: all .3s ease-in;
                 &:hover{
                    transform: translateY(-2rem);
                }
                h4, span {
                    color: var(--color-text-black);
                }
            }
        }
    }
}
.bestSellers-container {
    ul::-webkit-scrollbar{
        display: none;
    }
    &:hover ul::-webkit-scrollbar {
        display: block;
        height: 1rem;
    }
    &:hover ul::-webkit-scrollbar-thumb {
        background-color: var(--color-scrollbar);
        border-radius: 8px;
    }
}