.navbar {
    color: var(--color-text-white);
    padding-top: 2rem;
    justify-content: space-between;
    .navbar--item {
        cursor: pointer;
        &:hover .icon{
                transform: rotate(-180deg);
        }
        span {
            padding-right: 0.5rem;
        }
    }
}