@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&family=Roboto:wght@500&family=Tilt+Warp&display=swap');

:root {
    --font-weight100: 100;
    --font-weight200: 200;
    --font-weight400: 400;
    --font-weight500: 500;
    --color-white: #FFFFFF;
    --color-black: #0B0B0B;
    --color-text-body: #F9F3EE;
    --color-text-white: #FFFFFF;
    --color-text-black: #0B0B0B;
    --color-body: #F8F4F0;
    --color-line: #968e8e;
    --color-bg-pagination: #968e8e;
    --color-footer: #053D29;
    --color-footer2: #062F21;
    --color-border: #E3E3E3;
    --color-green: #12651a;
    --color-title: #505F4E;
    --color-scrollbar: #505F4E;
    --color-slideBtn: #dce0e3;
    --color-slideBtnActive: #85888a;
    --color-price: #4E7C32;
    --color-btn: #4E7C32;
    --color-bg-product: #e6e6e6;
    --header-height: 15.9rem;
    --header-bg: linear-gradient(89.96deg, #4E7C32 17.33%, rgba(90, 104, 59, 0.509744) 94.69%, rgba(102, 83, 69, 0) 175.13%);
    --border-rd3: 3px; 
    --border-rd8: 8px; 
    --font-size-title-big: 3.5rem;
    --font-size-title-mid: 2.5rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

html {
    font-size: 62.5%;
    text-transform: capitalize;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    // font-family: 'Poppins', sans-serif; //w100 200
    font-weight: var(--font-weight200);
    background-color: var(--color-body);
    // font-family: 'Roboto', sans-serif; w500
    // font-family: 'Tilt Warp', cursive; w400
}

.wide {
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
}
.grid {
    display: grid;
}
.block {
    display: block;
}
.align-center {
    align-items: center;
}
.flex {
    display: flex;
}
a[href] {
    text-decoration: none;
}
.icon {
    vertical-align: -2.45px;
    transition: all linear .5s;
    color: var(--color-white);
}
.pl-3 {
    padding-left: 3rem;
}
.button {
    border: none;
    background: var(--color-white);
    color: var(--color-black);
    font-size: 1.6rem;
    width: 100%;
    padding: 0.5rem 1rem;
    cursor: pointer;
    &:hover {
        background-color: rgb(214, 211, 211);
    }
}
.button2 {
    
}
.title {
    font-size: var(--font-size-title-mid);
    color: var(--color-title);
    font-family: 'Tilt Warp', cursive;
}
.line {
    margin: 2rem 0;
    display: block;
    width: 100%;
    background-color: var(--color-line);
    height: 1px;
}
.price-old {
    float: right;
    color: var(--color-price) !important;
    text-decoration: line-through;
}