.products{
    padding-bottom: 2rem;
}
.title-products {
    background-repeat: no-repeat;
    background-size: cover;

    .title {
        max-width: 120rem;
        width: 100%;
        margin: 0 auto;
        height: 10rem;
        line-height: 4;
    }
}

.options {
    padding: 2rem 2rem 2rem 0;

    .options-item {
        label {
            font-size: 1.7rem;
        }

        .sortby {
            border: var(--color-border);
            margin-left: 1rem;
            outline: none;
            border: none;
            height: 4.2rem;
            width: 22.2rem;
            border-radius: var(--border-rd8);
        }

        .sortby:nth-last-child(1) {
            margin-right: 3rem;
        }
    }
}

.products-wrapper {
    justify-content: space-between;
}

.products-container {
    width: 100%;
 }

.pagination-wrapper {
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50rem;
        gap: 1rem;
        margin: 2rem auto 0;
    }
    .pagination-page, .next, .previous {
        border-radius: var(--border-rd3);
        color: var(--color-white);
        background-color: var(--color-bg-pagination);
        cursor: pointer;
        a{
            display: block;
            padding: 0.5rem 1.5rem;
            &:hover {
                background-color: var(--color-green);
            }
        }
     }
    .pagination--active {
        background-color: var(--color-green);
    }
}

.products-list {
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: repeat(3, 1fr);
     gap: 1rem 2rem;
     .products__item {
        border-radius: var(--border-rd8);
        background-color: var(--color-bg-product);
        .products__item--img {
            padding-top: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-color: white;
        }
        .detail {
            padding: 2rem 1.6rem;
            h4 {
                font-size: 2rem;
                color: var(--color-green);
            }
            p {
                font-weight: 500;
                opacity: 0.6;
            }
            div {
                position: relative;
                span {
                    color: var(--color-green);
                }
                .icon {
                    position: absolute;
                    right: 0;
                    top: -1rem;
                    padding: 0.5rem 1rem;
                    border-radius: 50%;
                    background-color: var(--color-green);
                    display: block;
                    font-size: 2rem;
                    cursor: pointer;
                }
            }
        }
     }
}
.products-kategorien {
    padding-left: 2rem;
    .list-checkbox {
        input {
            vertical-align: -.2rem;
        }

        label {
            padding-left: 1rem;
        }
    }

    .advertisement {
        margin-top: 3.7rem;
        margin-bottom: 2rem;
        height: 26.2rem;
        width: 21.3rem;
        background-repeat: no-repeat;

        .content {
            border-radius: var(--border-rd3);
            background-color: rgba(133, 133, 134, 0.5);
            padding: 3rem;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: space-between;
        }

        a,
        h4 {
            color: var(--color-text-white);
        }

        .shopNow{
            label {
                cursor: pointer;
            }
        }
        .shopNow:hover {
            transform: translateY(-1rem);
            transition: all .3s linear;
        }

        .icon {
            margin-left: 1rem;
        }
    }

    .filter-price,
    .filter-size {
        input {
            width: 100%;
            accent-color: var(--color-green);
        }
    }
}